*.a
*.pyc
*.o
*.mexmaci64
*.sw*
*.*~
*.so
*.cproject
*.project
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.DS_Store
*.backup
.pydevproject
.directory
.settings/
.ipynb_checkpoints/
libraries/blitz-1.0.1/
libraries/cvodes-2.7.0/
libraries/SBMLToolbox-4.1.0/
libraries/install/
models/
.idea